@charset "utf-8";
/*reset css : 기본요소의 css 초기화 */
body, ul{
    margin: 0; padding: 0;
}
ul{
    list-style: none;
    /* outline: 2px solid blue; */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}