@charset "utf-8";
root{
    --btn-size-width-small: 2rem;
    --btn-size-width-normal: 4rem;
    --btn-size-width-large: 6rem;
    
    --btn-size-height-small: 1;  
    --btn-size-height-normal: 1.5; 
    --btn-size-height-large: 2;
    
    --main-font-size-small: 0.75rem;
    --main-font-size-normal: 1.25rem;
    --main-font-size-large: 2rem;

    --spacing-small : 0.5rem;
    --spacing-normal : 1rem;
    --spacing-large : 2rem;

}