<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span.first{
            padding: 10px; /* 단축 속성 */
        }
        span.second{
            padding-top: 5px;
            padding-right: 10px;
            padding-bottom: 15px;
            padding-left: 20px;
        }
        span.third{
        padding: 10px 20px;/* y축 x축 */
        }
        span.fourth{
            padding: 10px 20px 30px; /* top left-right bottom */
        }
        span.fifth{
            padding: 5px 10px 15px 20px; /* top right bottom left */
        }

    </style>
</head>
<body>

    <span class="first">hello</span>
    <span class="second">hello2</span>
    <span class="third">hello3</span>
    <span class="fourth">hello4</span>
    <span class="fifth">hello5</span>
    
</body>
</html>