<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css 단위</title>
    <style>
        .child{
            font-size: 2rem;
        }
        .wrap-child{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="wrap-child">
            <div class="child">반갑습니다</div>
        </div>
    </div>
</body>
</html>